
/* creating root colors so colors are consistent within the web page for a consistent design */

:root{
    --black: #122344;
}

/* removing any defualt margins/padding within the body */

body {
    margin: 0;
    padding: 0;
}

/* https://www.pexels.com/photo/data-codes-through-eyeglasses-577585/ */