/* importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@300&display=swap');


/* creating root colors so colors are consistent within the web page for a consistent design */

:root{
    --light-goldenrod-yellow: #F6FEDB;
    --forest-green-traditional: #1E441E;
    --pakistan-green: #2A7221;
    --lime-green: #31cb00;
}

/* removing any defualt margins/padding within the body */

body {
    margin: 0;
    padding: 0;
    font-family: 'Anton','Roboto';
    background-color: var(--light-goldenrod-yellow);
}
